@page "/Counter"
@inherits AppComponent

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="Handle(IncrementCountAsync)">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private async Task IncrementCountAsync(MouseEventArgs args)
    {
        await Task.Delay(1000);
        IncrementCount();
    }
}
