@using Plainly.Frontend.Providers
@using Plainly.Shared.Actions.Auth.Login
@using System.Net

@page "/user"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name!</p>
    </Authorized>
    <NotAuthorized>
        <button @onclick="SignIn">Sign in</button>
        <p>You're not authorized.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string userIdentifier = string.Empty;

    private async Task SignIn()
    {
        var response = await Http.PostAsJsonAsync("api/auth/login", new LoginForm
        {
            Email = "admin@plainly.com",
            Password = "123456"
        });
        var result = await response.Content.ReadFromJsonAsync<SuccessResponse<LoginDTO>>();
        if (result is null) return;

        await ((TokenAuthenticationStateProvider)AuthenticationStateProvider).AuthenticateUser(result.Data.Token);
    }
}