@page "/User"
@inject AuthService AuthService

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name!</p>
        <button class="btn btn-primary" @onclick="Logout">Log out</button>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p>
        <button class="btn btn-primary" @onclick="Login">Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Login()
    {
        await AuthService.LoginAsync("admin@plainly.com", "123456");
    }

    private async Task Logout()
    {
        await AuthService.Logout();
    }
}