@using Plainly.Frontend.Services
@using Plainly.Shared.Actions.Auth.Login
@using Plainly.Shared.Responses
@using System.Diagnostics
@inherits LayoutComponentBase
@inject JwtValidator JwtValidator
@inject HttpClient Http

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var payload = new LoginForm
        {
            Email = "admin@plainly.com",
            Password = "123456",
            RememberMe = true
        };
        var response = await Http.PostAsJsonAsync<LoginForm>("api/Auth/Login", payload);
        var result = await response.Content.ReadFromJsonAsync<SuccessResponse<LoginDTO>>();
        if (result is null) return;

        if (JwtValidator.ValidateToken(result.Data.Token, out var claimsPrincipal))
        {
            Console.WriteLine("test");
        }
    }
}