<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <MudThemeProvider @bind-IsDarkMode="_IsDarkMode" />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <CascadingValue Value="this">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </CascadingValue>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool _IsDarkMode = false;
    public bool IsDarkMode
    {
        get => _IsDarkMode;
        set
        {
            _IsDarkMode = value;
            StateHasChanged();
        }
    }
}