@inject NavigationManager NavigationManager

<h3>An unhandled error occurred</h3>

@if (Exception is Errors.Error error && !string.IsNullOrEmpty(error.Message))
{
    <p class="text-danger">
        @error.Message
    </p>
}
else
{
    <p class="text-danger">
        Something went wrong. Please try again later.
    </p>
}
<div class="hstack gap-2 justify-content-center">
    @if (ErrorBoundary is not null)
    {
        <button class="btn btn-primary" @onclick="Retry">Retry</button>
    }
    <button class="btn btn-primary" @onclick="GoHome">Go Home</button>
</div>

@code {
    [Parameter]
    public ErrorBoundaryBase? ErrorBoundary { get; set; }

    [Parameter]
    public Exception? Exception { get; set; }

    private void GoHome(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
    private void Retry(MouseEventArgs args)
    {
        ErrorBoundary?.Recover();
    }
}